.datepicker {

    .ui-datepicker-header {
        position: relative;
        padding: 12px 0 10px;

        .ui-corner-all {
            width: 6px;
            height: 12px;
            text-indent: -9999px;
            @include vertical-align;
            cursor: pointer;

            &.ui-state-disabled {
                pointer-events: none;
                opacity: 0.3;
            }
            &.ui-datepicker-prev {
                left: 10px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent; 
                border-right: 6px solid $black; 
            }
            &.ui-datepicker-next {
                right: 10px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 6px solid $black;
            }
        }

        .ui-datepicker-title {
            font-family: 'ApercuPro-Regular';
        }
    }

    .ui-datepicker-calendar {
        th {
            text-align: center;
            font-size: 12px;
            font-weight: $font-weight-normal;
        }
        td {
            border: 1px solid $borderGray2;
            line-height: 40px;
            width: 40px;
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
        tr:last-child td {
            border-bottom: none;
        }
        a.ui-state-default {
            display: block;
            &:hover {
                background-color: $lightBlue;
            }
        }
        .ui-datepicker-unselectable {
            color: #CED1D2;
            pointer-events: none;
        }
        .ui-datepicker-current-day {
            background-color: $btnBlue;
            pointer-events: none;
            a {
                color: white;
            }
        }
    }

}