@font-face {
    font-family: 'ApercuPro-Light';
    src: url(/fonts/ApercuPro-Light.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'ApercuPro-Regular';
    src: url(/fonts/ApercuPro-Regular.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'ApercuPro-Bold';
    src: url(/fonts/ApercuPro-Bold.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Apercu-Mono';
    src: url(/fonts/ApercuMonoPro-Regular.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Domaine-Regular';
    src: url(/fonts/DomaineDisplayWeb-RegularItalic.woff) format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Domaine-Bold';
    src: url(/fonts/DomaineDisplayWeb-ExtraboldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Canela';
    src: url(/fonts/Canela-Regular.woff) format('woff');
}
