$primaryBlue: #13446A;
$primaryPink: #F8506E;

$btnBlue: #006EA9;
$lightBlue: #DAEAF0;
$bgBlue: #0E4F81;

$black: #000;
$purple: #9163B6;
$errorRed: #D0021B;

$borderGray: #E2E2E2;
$borderGray2: #DCDCDC;
$bgGray: #FAF9F7;
$lightGray: #F1F1F1;
$textGray: #6A6873;
$formGray: #CCCCCC;
$darkGray: #4A4A4A;


$font-weight-bold: 600;
$font-weight-normal: 300;
$font-weight-light: 200;



